.de {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
}

.all-c-wrap {
    display: inline-block;
    width: 49%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* padding-left: 40px; */
    display: none;
}

.all-c-wrap input {
    display: none;
}

.all-c,
.graph {
    position: relative;
    /* margin: 10px; */
    /* display: inline-block; */
    width: 100px;
    height: 25px;
    /* padding-left: 40px; */
}

.all-c img {
    width: 100%;
    /* height: 100%; */
}

.all-c input,
.graph input {
    position: absolute;
    /* width: 10px; */
    width: 40px;
    height: 8px;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid red;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.6833333333333334);
    background-color: transparent;
    text-align: center;
}

.graph input {
    border-bottom: none;
}


/* 组件1 */

.c1 {
    /* width: 150px; */
}

.c1 img {
    /* width: 100%; */
    /* height: 100%; */
}

.c1-i1 {
    top: 0;
    left: -16px;
}

.c1-i2 {
    top: 23px;
    left: -6px;
}

.c1-i3 {
    top: 6px;
    left: 22px;
}

.c1-i4 {
    top: 20px;
    left: 22px;
}

.c1-i5 {
    top: -8px;
    left: 37px;
}

.c1-i6 {
    top: 6px;
    left: 57px;
}

.c1-i7 {
    top: 0px;
    left: 93px;
}

.c1-i8 {
    top: 20px;
    left: 51px;
}

.c1-i9 {
    top: 23px;
    left: 80px;
}


/* 组件2 */

.c2 img {
    /* width: 100%; */
    /* height: 100%; */
}

.c2-i1 {
    top: 5px;
    left: -18px;
}

.c2-i2 {
    top: -8px;
    left: 30px;
}

.c2-i3 {
    top: 4px;
    left: 50px;
}

.c2-i4 {
    top: 15px;
    left: 48px;
}

.c2-i5 {
    top: 21px;
    left: 74px;
}

.c2-i6 {
    top: 4px;
    left: 92px;
}


/* 组件3 */

.c3-i1 {
    top: -9px;
    left: 30px;
}

.c3-i2 {
    top: 4px;
    left: 50px;
}

.c3-i3 {
    top: 14px;
    left: 45px;
}

.c3-i4 {
    top: 22px;
    left: 70px
}

.c3-i5 {
    top: 5px;
    left: 92px;
}


/* 组件4 */

.c4 {}

.c4-i1 {
    top: 0px;
    left: -18px;
}

.c4-i2 {
    top: 23px;
    left: 4px;
}

.c4-i3 {
    top: 5px;
    left: 20px;
}

.c4-i4 {
    top: 5px;
    left: 58px;
}

.c4-i5 {
    top: 22px;
    left: 70px;
}

.c4-i6 {
    top: 0;
    left: 92px;
}

.c4-i7 {
    top: -8px;
    left: 38px;
}


/* 组件5 */

.c5 {}

.c5-i1 {
    top: 5px;
    left: -14px;
}

.c5-i2 {
    top: -7px;
    left: 35px;
}

.c5-i3 {
    top: 14px;
    left: 47px;
}

.c5-i4 {
    top: 22px;
    left: 75px;
}

.c5-i5 {
    top: 5px;
    left: 90px;
}


/* 组件6 */

.c6 {}

.c6-i1 {
    top: 5px;
    left: 0;
}

.c6-i2 {
    top: 15px;
    left: 45px;
}

.c6-i3 {
    top: 24px;
    left: 70px;
}

.c6-i4 {
    top: 7px;
    left: 93px;
}


/* 组件7 */

.c7 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c7-i1 {
    top: 5px;
    left: 20px;
}

.c7-i2 {
    top: 9px;
    left: 90px;
}


/* 组件8 */

.c8 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c8-i1 {
    top: 8px;
    left: 12px;
}

.c8-i2 {
    top: -7px;
    left: 37px;
}

.c8-i3 {
    top: 8px;
    left: 61px;
}


/* 组件9 */

.c9 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c9-i1 {
    top: 8px;
    left: 14px;
}

.c9-i2 {
    top: -7px;
    left: 37px;
}

.c9-i3 {
    top: 8px;
    left: 58px;
}


/* 组件10 */

.c10 input {
    /* width: 50px;
    height: 20px;
    font-size: 17px; */
}

.c10-i1 {
    top: -1px;
    left: 35px;
}


/* 组件11 */

.c11 {}

.c11-i1 {
    top: 5px;
    left: 0;
}

.c11-i2 {
    top: 20px;
    left: 6px;
}

.c11-i3 {
    top: -10px;
    left: 38px;
}

.c11-i4 {
    top: 5px;
    left: 75px;
}

.c11-i5 {
    top: 20px;
    left: 70px;
}


/* 组件12 */

.c12 {}

.c12-i1 {
    top: 4px;
    left: -4px;
}

.c12-i2 {
    top: 22px;
    left: -5px;
}

.c12-i3 {
    top: 4px;
    left: 37px;
}

.c12-i4 {
    top: 4px;
    left: 75px;
}

.c12-i5 {
    top: 22px;
    left: 75px;
}


/* 组件13 */

.c13 {
    width: 30px;
    height: 25px;
}


/* 组件14 */

.c14 {
    width: 50px;
    height: 20px;
}


/* 组件15 */

.c15 input {
    /* width: 50px;
    height: 20px;
    font-size: 17px; */
}

.c15-i1 {
    top: 7px;
    left: -13px;
}

.c15-i2 {
    top: -6px;
    left: 40px;
}

.c15-i3 {
    top: 15px;
    left: 80px;
}


/* 组件16 */

.c16 {}

.c16-i1 {
    top: 6px;
    left: 11px;
}

.c16-i2 {
    top: 24px;
    left: 11px;
}

.c16-i3 {
    top: 24px;
    left: 65px;
}

.c16-i4 {
    top: 6px;
    left: 65px;
}


/* 组件17 */

.c17 {
    /* width: 50px; */
}

.c17-i1 {
    top: 12px;
    left: 0px;
}

.c17-i2 {
    top: 12px;
    left: 70px;
}

.c17-i3 {
    top: 45px;
    left: 10px;
}

.c17-i4 {
    top: 45px;
    left: 67px;
}


/* 组件18 */

.c18 {
    /* width: 80px; */
}

.c18-i1 {
    top: 19px;
    left: 0px;
}

.c18-i2 {
    top: 40px;
    left: 5px;
}

.c18-i3 {
    top: 20px;
    left: 50px;
}

.c18-i4 {
    top: 5px;
    left: 90px;
}


/* 组件19 */

.c19 {
    /* width: 80px; */
}

.c19-i1 {
    top: 23px;
    left: -15px;
}

.c19-i2 {
    top: 46px;
    left: 3px;
}

.c19-i3 {
    top: 16px;
    left: 36px;
}

.c19-i4 {
    top: 5px;
    left: 87px;
}


/* 组件20 */

.c20 {
    /* width: 80px; */
}

.c20-i1 {
    top: 15px;
    left: 6px;
}

.c20-i2 {
    top: 38px;
    left: 10px;
}

.c20-i3 {
    top: 5px;
    left: 50px;
}

.c20-i4 {
    top: 5px;
    left: 87px;
}


/* 组件21 */

.c21 {
    /* width: 80px; */
}

.c21-i1 {
    top: 5px;
    left: -11px;
}

.c21-i2 {
    top: 35px;
    left: 2px;
}

.c21-i3 {
    top: 5px;
    left: 35px;
}

.c21-i4 {
    top: 5px;
    left: 85px;
}


/* 组件22 */

.c22 {
    /* width: 80px; */
}

.c22-i1 {
    top: 15px;
    left: 10px;
}

.c22-i2 {
    top: 40px;
    left: 12px;
}

.c22-i3 {
    top: 5px;
    left: 30px;
}

.c22-i4 {
    top: 5px;
    left: 90px;
}


/* 组件23 */

.c23 {
    /* width: 80px; */
}

.c23-i1 {
    top: 15px;
    left: -8px;
}

.c23-i2 {
    top: 43px;
    left: 15px;
}

.c23-i3 {
    top: 5px;
    left: 45px;
}


/* 组件24 */

.c24 {}


/* 组件25 */

.c25 {
    /* width: 40px; */
    /* height: 20px; */
}

.c25-i1 {
    top: 30px;
    left: 38px;
}


/* 组件26 */

.c26 {
    /* width: 80px; */
}

.c26-i1 {
    top: 25px;
    left: -5px;
}

.c26-i2 {
    top: 10px;
    left: 38px;
}

.c26-i3 {
    top: 25px;
    left: 80px;
}