.de {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
}

.all-c-wrap {
    display: inline-block;
    width: 32%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* padding-left: 40px; */
    display: none;
}

.all-c-wrap input {
    display: none;
}

.all-c,
.graph {
    position: relative;
    margin: auto;
    /* margin: 10px; */
    /* display: inline-block; */
    width: 180px;
    /* height: 25px; */
    /* padding-left: 40px; */
}

.all-c img {
    width: 100%;
    /* height: 100%; */
}

.all-c input,
.graph input {
    position: absolute;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 26px;
    border: none;
    border-bottom: 1px solid red;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.6833333333333334);
    background-color: transparent;
    text-align: center;
}

.graph input {
    border-bottom: none;
}


/* 组件1 */

.c1 {
    /* width: 150px; */
}

.c1 img {
    /* width: 100%; */
    /* height: 100%; */
}

.c1-i1 {
    top: 35px;
    left: -45px;
}

.c1-i2 {
    top: 65px;
    left: -25px;
}

.c1-i3 {
    top: 30px;
    left: 30px;
}

.c1-i4 {
    top: 61px;
    left: 34px;
}

.c1-i5 {
    top: -2px;
    left: 70px;
}

.c1-i6 {
    top: 35px;
    left: 170px;
}

.c1-i7 {
    top: 30px;
    left: 108px;
}

.c1-i8 {
    top: 61px;
    left: 92px;
}

.c1-i9 {
    top: 65px;
    left: 153px;
}


/* 组件2 */

.c2 img {
    /* width: 100%; */
    /* height: 100%; */
}

.c2-i1 {
    top: 35px;
    left: -47px;
}

.c2-i2 {
    top: 5px;
    left: 55px;
}

.c2-i3 {
    top: 30px;
    left: 100px;
}

.c2-i4 {
    top: 55px;
    left: 80px;
}

.c2-i5 {
    top: 65px;
    left: 140px;
}

.c2-i6 {
    top: 35px;
    left: 170px;
}


/* 组件3 */

.c3-i1 {
    top: 5px;
    left: 70px;
}

.c3-i2 {
    top: 30px;
    left: 100px;
}

.c3-i3 {
    top: 50px;
    left: 80px;
}

.c3-i4 {
    top: 65px;
    left: 130px
}

.c3-i5 {
    top: 30px;
    left: 170px;
}


/* 组件4 */

.c4 {}

.c4-i1 {
    top: 30px;
    left: -45px;
}

.c4-i2 {
    top: 65px;
    left: 0px;
}

.c4-i3 {
    top: 30px;
    left: 30px;
}

.c4-i4 {
    top: 30px;
    left: 100px;
}

.c4-i5 {
    top: 65px;
    left: 135px;
}

.c4-i6 {
    top: 30px;
    left: 170px;
}

.c4-i7 {
    top: 6px;
    left: 70px;
}


/* 组件5 */

.c5 {}

.c5-i1 {
    top: 30px;
    left: -28px;
}

.c5-i2 {
    top: 10px;
    left: 55px;
}

.c5-i3 {
    top: 60px;
    left: 120px;
}

.c5-i4 {
    top: 30px;
    left: 90px;
}

.c5-i5 {
    top: 30px;
    left: 155px;
}


/* 组件6 */

.c6 {}

.c6-i1 {
    top: 5px;
    left: 50px;
}

.c6-i2 {
    top: 30px;
    left: 100px;
}

.c6-i3 {
    top: 65px;
    left: 130px;
}

.c6-i4 {
    top: 30px;
    left: 170px;
}


/* 组件7 */

.c7 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c7-i1 {
    top: 6px;
    left: 60px;
}

.c7-i2 {
    top: 30px;
    left: 170px;
}


/* 组件8 */

.c8 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c8-i1 {
    top: 30px;
    left: -45px;
}

.c8-i2 {
    top: 6px;
    left: 65px;
}

.c8-i3 {
    top: 30px;
    left: 170px;
}


/* 组件9 */

.c9 input {
    /* width: 50px; */
    /* height: 20px; */
    /* font-size: 17px; */
}

.c9-i1 {
    top: 30px;
    left: 7px;
}

.c9-i2 {
    top: 6px;
    left: 65px;
}

.c9-i3 {
    top: 30px;
    left: 120px;
}


/* 组件10 */

.c10 input {
    /* width: 50px;
    height: 20px;
    font-size: 17px; */
}

.c10-i1 {
    top: 25px;
    left: 70px;
}


/* 组件11 */

.c11 {}

.c11-i1 {
    top: 65px;
    left: 0px;
}

.c11-i2 {
    top: 40px;
    left: -10px;
}

.c11-i3 {
    top: 7px;
    left: 65px;
}

.c11-i4 {
    top: 40px;
    left: 135px;
}

.c11-i5 {
    top: 65px;
    left: 135px;
}


/* 组件12 */

.c12 {}

.c12-i1 {
    top: 25px;
    left: -10px;
}

.c12-i2 {
    top: 65px;
    left: -10px;
}

.c12-i3 {
    top: 5px;
    left: 70px;
}

.c12-i4 {
    top: 25px;
    left: 135px;
}

.c12-i5 {
    top: 65px;
    left: 140px;
}


/* 组件13 */

.c13 {
    /* width: 30px; */
    /* height: 25px; */
}

.c13-i1 {
    top: 20px;
    left: 65px;
}

.c13-i2 {
    top: 50px;
    left: 65px;
}

.c13-i3 {
    top: 20px;
    left: 0px;
}

.c13-i4 {
    top: 50px;
    left: 0px;
}

.c13-i5 {
    top: 20px;
    left: 125px;
}

.c13-i6 {
    top: 50px;
    left: 125px;
}


/* 组件14 */

.c14 {
    /* width: 50px; */
    /* height: 20px; */
}

.c14-i1 {
    top: 0px;
    left: 0px;
}

.c14-i2 {
    top: 70px;
    left: 00px;
}

.c14-i3 {
    top: 0px;
    left: 120px;
}

.c14-i4 {
    top: 70px;
    left: 120px;
}

.c14-i5 {
    top: 20px;
    left: 60px;
}

.c14-i6 {
    top: 40px;
    left: 60px;
}


/* 组件15 */

.c15 input {
    /* width: 50px;
    height: 20px;
    font-size: 17px; */
}

.c15-i1 {
    top: 67px;
    left: 20px;
}

.c15-i2 {
    top: 3px;
    left: 80px;
}

.c15-i3 {
    top: 35px;
    left: 70px;
}


/* 组件16 */

.c16 {}

.c16-i1 {
    top: 55px;
    left: 10px;
}

.c16-i2 {
    top: 20px;
    left: 20px;
}

.c16-i3 {
    top: 20px;
    left: 105px;
}

.c16-i4 {
    top: 55px;
    left: 117px;
}


/* 组件17 */

.c17 {
    /* width: 50px; */
}

.c17-i1 {
    top: 15px;
    left: 10px;
}

.c17-i2 {
    top: 15px;
    left: 110px;
}

.c17-i3 {
    top: 47px;
    left: -15px;
}

.c17-i4 {
    top: 47px;
    left: 135px;
}


/* 组件18 */

.c18 {
    /* width: 80px; */
}

.c18-i1 {
    top: 50px;
    left: 70px;
}

.c18-i2 {
    top: 70px;
    left: 30px;
}

.c18-i3 {
    top: 40px;
    left: 120px;
}

.c18-i4 {
    top: 15px;
    left: 150px;
}


/* 组件19 */

.c19 {
    /* width: 80px; */
}

.c19-i1 {
    top: 40px;
    left: -15px;
}

.c19-i2 {
    top: 78px;
    left: 20px;
}

.c19-i3 {
    top: 30px;
    left: 80px;
}

.c19-i4 {
    top: 7px;
    left: 155px;
}


/* 组件20 */

.c20 {
    /* width: 80px; */
}

.c20-i1 {
    top: 75px;
    left: 20px;
}

.c20-i2 {
    top: 40px;
    left: 10px;
}

.c20-i3 {
    top: 20px;
    left: 80px;
}

.c20-i4 {
    top: 20px;
    left: 150px;
}


/* 组件21 */

.c21 {
    /* width: 80px; */
}

.c21-i1 {
    top: 30px;
    left: -15px;
}

.c21-i2 {
    top: 70px;
    left: 20px;
}

.c21-i3 {
    top: 22px;
    left: 80px;
}

.c21-i4 {
    top: 22px;
    left: 150px;
}


/* 组件22 */

.c22 {
    /* width: 80px; */
}

.c22-i1 {
    top: 75px;
    left: 30px;
}

.c22-i2 {
    top: 40px;
    left: 35px;
}

.c22-i3 {
    top: 20px;
    left: 80px;
}

.c22-i4 {
    top: 20px;
    left: 150px;
}


/* 组件23 */

.c23 {
    /* width: 80px; */
}

.c23-i1 {
    top: 30px;
    left: -20px;
}

.c23-i2 {
    top: 75px;
    left: 30px;
}

.c23-i3 {
    top: 20px;
    left: 80px;
}


/* 组件24 */

.c24 {}


/* 组件25 */

.c25 {
    /* width: 40px; */
    /* height: 20px; */
}

.c25-i1 {
    top: 35px;
    left: 63px;
}


/* 组件26 */

.c26 {
    /* width: 80px; */
}

.c26-i1 {
    top: 30px;
    left: 0px;
}

.c26-i2 {
    top: 20px;
    left: 63px;
}

.c26-i3 {
    top: 30px;
    left: 123px;
}

.c27-i1 {
    top: 35px;
    left: 30px
}

.c28-i1 {
    top: 35px;
    left: 30px
}

.c29-i1 {
    top: 35px;
    left: 30px
}